<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="header-area">
    <a aria-label="Home" class="logo" href="{{page_path 'help_center'}}">
      <include src="svg/maxmind-logo.svg"></include>
      <span>Support</span>
    </a>
    <div class="header-search">
      {{search}}
      <div class="header-search-mobile">
        <button aria-label="Show search bar" class="search-mobile-btn">
          <include src="svg/icon-search.svg"></include>
        </button>
      </div>
    </div>
    <div class="nav-wrapper">
      <button id="header-checkbox" class="header-module-toggle closed">
        <include src="svg/icon-menu-open.svg"></include>
        <include src="svg/icon-menu-close.svg"></include>
      </button>
      <nav id="header-menu">
        <a class="nav-item contact-us" href="{{page_path 'new_request'}}">
          <span class="nav-icon" role="img">
            <include src="svg/icon-new-request.svg">
          </span>
          <span class="nav-label">Contact Us</span>
        </a>
        <div class="header-sidebar">
          <a class="nav-category nav-item" href="/hc/en-us/categories/1260801482329-minFraud-Services">
            <span class="nav-icon" role="img">
              <include src="svg/icon-minfraud.svg"></include>
            </span>
            <span class="nav-label">minFraud</span>
          </a>
          <ul class="sub-nav-items minfraud-services">
            <li>
              <a class="nav-item" href='/hc/en-us/sections/4407832296475-Introduction-to-the-minFraud-Service'>
                <span>
                  Introduction to the minFraud Service
                </span>
              </a>
            </li>
            <li>
              <a class="nav-item" href='/hc/en-us/sections/4407465695259-Integration-and-Testing'>
                <span>
                  Integration and Testing
                </span>
              </a>
            </li>
            <li>
              <a class="nav-item" href='/hc/en-us/sections/4407474210459-Risk-Scoring'>
                <span>
                  Risk Scoring
                </span>
              </a>
            </li>
            <li>
              <a class="nav-item" href='/hc/en-us/sections/4407474216987-Risk-Data'>
                <span>
                  Risk Data
                </span>
              </a>
            </li>
            <li>
              <a class="nav-item" href='/hc/en-us/sections/4407475559579-Manual-Review-Custom-Rules-and-Dispositions'>
                <span>
                  Manual Review, Custom Rules, and Dispositions
                </span>
              </a>
            </li>
          </ul>
          <a class="nav-category nav-item" href="/hc/en-us/categories/1260801446650-GeoIP-and-GeoLite">
            <span class="nav-icon" role="img">
              <include src="svg/icon-geoip.svg"></include>
            </span>
            <span class="nav-label">GeoIP2 and GeoLite2</span>
          </a>
          <ul class="sub-nav-items geoip-and-geolite">
            <li>
              <a class="nav-item" href=''>
                <span>
                  IP Geolocation
                </span>
              </a>
            </li>
            <li>
              <a class="nav-item" href=''>
                <span>
                  IP Intelligence Data
                </span>
              </a>
            </li>
            <li>
              <a class="nav-item" href=''>
                <span>
                  Integrate Databases
                </span>
              </a>
            </li>
            <li>
              <a class="nav-item" href=''>
                <span>
                  Integrate Web Services
                </span>
              </a>
            </li>
            <li>
              <a class="nav-item" href='hc/en-us/articles/4408252036123-GeoIP-Corrections'>
                <span>
                  GeoIP Corrections
                </span>
              </a>
            </li>
          </ul>
          <a class="nav-category nav-item" href="/hc/en-us/categories/1260801446690-Account-and-Purchasing">
            <span class="nav-icon" role="img">
              <include src="svg/icon-account-and-purchasing.svg"></include>
            </span>
            <span class="nav-label">Account</span>
          </a>
          <ul class="sub-nav-items account-and-purchasing">
            <li>
              <a class="nav-item" href=''>
                <span>
                  Manage my Account
                </span>
              </a>
            </li>
            <li>
              <a class="nav-item" href=''>
                <span>
                  Secure my Account
                </span>
              </a>
            </li>
            <li>
              <a class="nav-item" href=''>
                <span>
                  Manage my License Keys
                </span>
              </a>
            </li>
            <li>
              <a class="nav-item" href=''>
                <span>
                  Purchases, Subscriptions, and Refunds
                </span>
              </a>
            </li>
          </ul>
          <a class="nav-category nav-item" href="/hc/en-us/categories/4407628905883-Data-Privacy-and-Licenses">
            <span class="nav-icon" role="img">
              <include src="svg/icon-account-and-purchasing.svg"></include>
            </span>
            <span class="nav-label">Data Privacy</span>
          </a>
          <ul class="sub-nav-items data-privacy-and-licenses">
            <li>
              <a class="nav-item" href=''>
                <span>
                  Placeholder
                </span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
