<div class="new__request">
  <div class="new__request-text">
    This page is no longer available. Please contact us at our new
    <a
      href="https://share.hsforms.com/1wsOwiZ3LS1WlrB72grq0kAcntle"
      target="_blank"
      rel="noopener"
    >
      Contact us form.
    </a>
  </div>
</div>
