<div class="new__request">
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
  <script>
    hbspt.forms.create({
      region: "na1",
      portalId: "21266834",
      // TODO: Add back in correct form
      formId: "8081a0f9-0be0-4b92-a7a7-0438a2b6a649",
      onFormReady: function(form) {
        const email = form.querySelector('[name="email"]');
        if (email) {
          const checkEmailConfirmation = () => {
            const confirmEmail = form.querySelector('[name="confirm_email_checkbox"]');

            // The confirm checkbox doesn't render until the 2nd keypress
            if (!confirmEmail) {
              return;
            }

            const strongClassName = 'js-confirm-email';
            const injectedStrong = form.querySelector(`.${strongClassName}`);

            if (injectedStrong) {
              injectedStrong.textContent = email.value;
            } else {
              const strong = document.createElement('strong');
              strong.className = strongClassName;
              strong.textContent = email.value;
              strong.style.marginLeft = '5px';

              confirmEmail.nextElementSibling.children[0].after(strong);
            }
          }

          email.addEventListener('input', checkEmailConfirmation);
        }
      }
    });
  </script>
</div>
