<div class="new__request">
  <div class="new__request__header">
    <h1 class="new__request__title">
      {{t 'submit_a_request'}}
    </h1>
  </div>
  <div class="new__request__form">
    {{request_form wysiwyg=true}}
  </div>
</div>
