<div class="new__request">
  <div class="new__request__header">
    <h1 class="new__request__title">
      {{t 'submit_a_request'}}
    </h1>
    <p>To help you get assistance faster, please include your account ID number
      in the description of your request below.
      <a href="/hc/en-us/articles/4409892315291-Find-my-Account-ID-Number">Learn
      how to find your account ID number.</a>
    </p>
  </div>
  <div class="new__request__form">
    {{request_form wysiwyg=true}}
  </div>
  <div class="contact__container">
    <div class="contact__section">
      <div class="contact__section-header">
        Emergency Contact
      </div>
      <p class="contact__section-para">If you are experiencing an urgent issue (e.g. your service is down or
        billing has been interrupted) please contact us right away.
        The "Chat" popup in the lower right corner
        is available 3am to 7am and 10am to 9pm Eastern Time, Monday - Friday. We'll get back to you
        within 60 seconds.
      </p>
      <p class="contact__section-para"> If you are contacting us outside of regular business hours, please email
        <a href="mailto:alert@maxmind.com">alert@maxmind.com</a>.
      </p>
      <p class="contact__section-para">Additional contact information can be found <a href="https://www.maxmind.com/en/company/contact-us">here</a>.</p>
    </div>
  </div>
</div>
