<div class="new__request">
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
  <script>
    hbspt.forms.create({
      region: "na1",
      portalId: "21266834",
      formId: "c2c3b089-9dcb-4b55-a5ac-1ef682bab490",
      onFormReady: function(form) {
        const email = form.querySelector('[name="email"]');
        const confirmEmail = form.querySelector('[name="confirm_email_checkbox"]');
        if (email && confirmEmail) {
          const checkEmailConfirmation = () => {
            const strongClassName = 'js-confirm-email';
            const injectedStrong = form.querySelector(`.${strongClassName}`);

            if (injectedStrong) {
              injectedStrong.textContent = email.value;
            } else {
              const strong = document.createElement('strong');
              strong.className = strongClassName;
              strong.textContent = email.value;
              strong.style.marginLeft = '5px';

              confirmEmail.nextElementSibling.after(strong);
            }
          }

          if (email.value !== '') {
            checkEmailConfirmation();
          }
          email.addEventListener('input', checkEmailConfirmation);
        }
      }
    });
  </script>
</div>
