/***** Actions *****/
/* Styles admin and en user actions(edit, delete, change status) in comments and posts */
.actions {
  flex-shrink: 0; /*Avoid collapsing elements in Safari*/
  text-align: center;

  button {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-height: 35px;
    min-width: 35px;
  }
}
