/* stylelint-disable scss/at-extend-no-missing-placeholder */

/***** Article *****/
.article {
  flex: 1 0 auto; //Explicit values needed whith flex-direction: column for IE11
  /*
  * The article grid is defined this way to optimize readability:
  * Sidebar | Content | Free space
  * 17%     | 66%     | 17%
  */
  @include desktop {
    flex: 1 0 66%;
    max-width: 66%;
    min-width: 640px;
    padding: 0 30px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
  }

  &-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
    @include tablet {
      flex-direction: row;
      margin-top: 0;
    }
  }

  &-avatar {
    margin-right: 10px;
  }

  &-author {
    margin-bottom: 10px;
  }

  &-title {
    @include tablet {
      flex-basis: 100%; /* Take entire row */
    }

    .icon-lock {
      left: -5px;
      position: relative;
      vertical-align: baseline;
    }
  }

  [role='button'] {
    flex-shrink: 0; /*Avoid collapsing elements in Safari (https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored)*/
    width: 100%;
    @include tablet { width: auto; }
  }

  &-info {
    max-width: 100%;
  }

  &-meta {
    display: inline-block;
    vertical-align: middle;
  }

  &-body {
    @include content-body;
    > p:last-child { margin-bottom: 0; }
  }

  &-content {
    line-height: 1.6;
    margin: 40px 0;
    word-wrap: break-word;
  }

  &-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &-comment-count {
    color: $secondary-text-color;

    &:hover {
      text-decoration: none;
    }

    &-icon {
      color: $brand-color;
      height: 18px;
      vertical-align: middle;
      width: 18px;
    }
  }

  &-sidebar {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    flex: 1 0 auto; //Explicit values needed whith flex-direction: column for IE11
    margin-bottom: 20px;
    padding: 0;
    @include desktop {
      border: 0;
      flex: 0 0 17%;
      height: auto;
    }
  }

  &-relatives {
    border-top: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    @include tablet {
      flex-direction: row;
    }

    > * {
      flex: 1 0 50%; // Explicit values needed whith flex-direction: column for IE11
      margin-right: 0;
      min-width: 50%;
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
      overflow-wrap: break-word;
      word-wrap: break-word;

      @include tablet { padding-right: 20px; }

      &:last-child { padding: 0; }
    }
  }


  &-votes {
    border-top: 1px solid $border-color;
    padding: 30px 0;
    text-align: center;
  }

  &-vote {
    margin: 10px 5px;
    min-width: 90px;
    width: auto;
  }

  &-more-questions {
    margin: 10px 0 20px;
    text-align: center;
  }

  &-return-to-top {
    border-top: 1px solid $border-color;
    @include desktop { display: none; }

    a {
      color: $text-color;
      display: block;
      padding: 20px 0;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &-icon {
      transform: rotate(0.5turn);
    }
  }

  &-subscribe button {
    @extend .button;

    &[data-selected='true'] {
      @extend .button-primary;
    }
  }
}

.sidenav {
  &-title {
    font-size: $font-size-base;
    font-weight: 600;
    position: relative;
  }

  &-item {
    border-radius: 4px;
    color: $text-color;
    display: block;
    margin-bottom: 10px;
    padding: 10px;

    &.current-article,
    &:hover {
      background-color: $brand-color;
      color: $brand-text-color;
      text-decoration: none;
    }
  }
}

.recent-articles,
.related-articles {
  &-title {
    @extend .comment-heading;
  }

  li {
    margin-bottom: 15px;
  }
}
