/* stylelint-disable scss/at-extend-no-missing-placeholder */

body {
  background: var(--mm-color-background);
}

/***** Article *****/
.article__page {
  display: grid;
  grid-template-areas:
    'header aside'
    'article aside'
    'footer aside';
  grid-template-columns: calc(100vw - 640px) var(--mm-layout-toc-width);
  grid-template-rows: min-content auto min-content;
  justify-items: start;
  padding: var(--mm-spacing) 0;
}

.article__header {
  grid-area: header;
  margin: 0;
  max-width: 880px;
  padding: 0 var(--mm-spacing) 0;
  width: 100%;
  z-index: 5;

  .article__title {
    color: #00374c;
    font-family: var(--mm-font-stack-display);
    font-size: 42px;
    font-weight: 600;
    grid-area: title;
    line-height: 1.2em;
    margin: 0;
    padding: 0 0 var(--mm-spacing);
    position: relative;
    scroll-margin-top: calc(var(--page-header-height) + var(--mm-spacing));
  }
}

.article__aside {
  border-bottom: 0;
  grid-area: aside;
  height: auto;
  margin: 0;
  min-width: auto;
  padding: 0;
  width: 100%;

  .aside__top {
    max-height: calc(100vh - var(--page-header-height));
    overflow-y: scroll;
    padding: var(--mm-spacing) var(--mm-spacing) 120px 20px;
    position: sticky;
    top: calc(var(--page-header-height));
    width: 100%;

    .aside__header {
      border-bottom: 1px dashed var(--mm-color-border);
      color: var(--mm-color-display-text);
      display: inline-block;
      font-family: var(--mm-font-stack-display);
      font-size: 20px;
      font-weight: 500;
      margin: calc(var(--mm-spacing) / 2) 0;
      padding-bottom: calc(var(--mm-spacing) / 2);
      width: 100%;
    }

    ul {
      font-family: var(--mm-font-stack-display);
      margin: calc(var(--mm-spacing) / 2) 0 0;

      li {
        font-size: 12px;
        margin-bottom: calc(var(--mm-spacing) / 2);

        a {
          --psuedo-padding: 8px;
          color: #555;
          display: inline-block;
          font-weight: 500;
          position: relative;
          text-decoration: none;
          width: calc(100% - var(--mm-spacing));
        }
      }
    }
  }
}

.article__body {
  margin-bottom: var(--mm-spacing);
  margin-top: 0;

  h2 {
    color: #00374c;
    font-family: var(--mm-font-stack-display);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2em;
    margin: calc(var(--mm-spacing) * 2) 0 calc(var(--mm-spacing) / 4);
    position: relative;
    scroll-margin-top: calc(var(--page-header-height) + var(--mm-spacing));
  }

  h3,
  .article__attachments-header {
    color: #00374c;
    font-family: var(--mm-font-stack-display);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    margin: calc(var(--mm-spacing) * 2) 0 calc(var(--mm-spacing) / 4);
    position: relative;
    scroll-margin-top: calc(var(--page-header-height) + var(--mm-spacing));
  }

  p,
  p > span {
    color: var(--mm-color-primary-text);
    font-size: 16px;
    line-height: 26px;
    margin: calc(var(--mm-spacing) / 2) 0;
  }

  code,
  pre {
    background: #fff;
    border: 1px solid var(--mm-color-border);
    border-radius: 4px;
    color: var(--mm-color-display-text);
    font-family: var(--mm-font-stack-monospace);
    font-size: 14px;
    font-weight: 700;
    padding: 2px 6px;
    transition: background-color 0.2s ease-out;
  }

  code:hover {
    background-color: var(--mm-color-sidebar);
  }

  :first-child {
    margin-top: var(--mm-spacing);
  }

  a {
    align-items: center;
    border-bottom: 2px dotted var(--mm-color-display-text);
    color: var(--mm-color-display-text);
    font-weight: 500;
    height: 20px;
    padding-bottom: 2px;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 2px solid var(--mm-color-display-text);
  }

  ul {
    li {
      list-style: disc;
      margin-left: 25px;

      ul {
        li {
          list-style: circle;
          margin-left: 35px;
        }
      }
    }
  }
}

.article__updated {
  color: var(--mm-color-primary-text);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  margin-top: calc(var(--mm-spacing) * 2);
  text-align: center;
}

.article__content {
  grid-area: article;
  max-width: 880px;
  padding: var(--mm-spacing);
  padding-top: 0;
  width: 100%;
}

.individual__attachment-item {
  padding-bottom: 5px;

  a {
    align-items: center;
    border-bottom: 2px dotted var(--mm-color-display-text);
    color: var(--mm-color-display-text);
    font-weight: 500;
    height: 20px;
    padding-bottom: 2px;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 2px solid var(--mm-color-display-text);
  }
}

.article__votes {
  text-align: center;
}

.article__footer {
  border-top: 1px solid var(--mm-color-border);
  grid-area: footer;
  max-width: 880px;
  padding: var(--mm-spacing);
  width: 100%;
}
