/* stylelint-disable scss/at-extend-no-missing-placeholder */

/***** Article *****/
.article__page {
  background: var(--mm-color-background);
  display: grid;
  grid-template-areas:
    'header'
    'article'
    'footer';
  grid-template-rows: min-content auto min-content;
  padding: var(--mm-spacing) 0;
}

.article__body {
  margin-bottom: var(--mm-spacing);
  margin-top: 0;

  h2 {
    color: #00374c;
    font-family: var(--mm-font-stack-display);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2em;
    margin: calc(var(--mm-spacing) * 2) 0 calc(var(--mm-spacing) / 4);
    position: relative;
    scroll-margin-top: calc(var(--page-header-height) + var(--mm-spacing));
  }

  h3,
  .article__attachments-header {
    color: #00374c;
    font-family: var(--mm-font-stack-display);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    margin: calc(var(--mm-spacing) * 2) 0 calc(var(--mm-spacing) / 4);
    position: relative;
    scroll-margin-top: calc(var(--page-header-height) + var(--mm-spacing));
  }

  p,
  p > span {
    color: var(--mm-color-primary-text);
    font-size: 16px;
    line-height: 26px;
    margin: calc(var(--mm-spacing) / 2) 0;
  }

  code,
  pre {
    background: #fff;
    border: 1px solid var(--mm-color-border);
    border-radius: 4px;
    color: var(--mm-color-display-text);
    font-family: var(--mm-font-stack-monospace);
    font-size: 14px;
    font-weight: 700;
    padding: 2px 6px;
    transition: background-color 0.2s ease-out;
  }

  code:hover {
    background-color: var(--mm-color-sidebar);
  }

  :first-child {
    margin-top: 0;
  }

  a {
    align-items: center;
    border-bottom: 2px dotted var(--mm-color-display-text);
    color: var(--mm-color-display-text);
    font-weight: 500;
    height: 20px;
    padding-bottom: 2px;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 2px solid var(--mm-color-display-text);
  }

  ul {
    li {
      list-style: disc;
      margin-left: 25px;

      ul {
        li {
          list-style: circle;
          margin-left: 35px;
        }
      }
    }
  }
}

.article__header {
  display: grid;
  grid-area: header;
  grid-template-areas: 'title' 'updated';
  margin: 0;
  max-width: 880px;
  padding: 0 var(--mm-spacing) 0;
  width: 100%;
}

.article__title {
  color: #00374c;
  font-family: var(--mm-font-stack-display);
  font-size: 42px;
  font-weight: 600;
  grid-area: title;
  line-height: 1.2em;
  margin: 0;
}

.article__updated {
  color: var(--mm-color-primary-text);
  font-size: 14px;
  grid-area: updated;
  line-height: 26px;
  margin: 0;
  padding: calc(var(--mm-spacing) / 2) 0 var(--mm-spacing) 0;

  .article__author {
    display: inline-block;

    &::after {
      color: var(--mm-border-color);
      content: '|';
      padding: 5px;
    }
  }

  .meta__data {
    display: inline-block;
  }
}

.article__content {
  grid-area: article;
  max-width: 880px;
  padding: var(--mm-spacing);
  padding-top: 0;
  width: 100%;
}

.individual__attachment-item {
  padding-bottom: 5px;

  a {
    align-items: center;
    border-bottom: 2px dotted var(--mm-color-display-text);
    color: var(--mm-color-display-text);
    font-weight: 500;
    height: 20px;
    padding-bottom: 2px;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 2px solid var(--mm-color-display-text);
  }
}

.article__votes {
  text-align: center;
}

.article__footer {
  grid-area: footer;
  max-width: 880px;
  padding: var(--mm-spacing);
  width: 100%;
}
