/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    @include tablet {
      margin: 0 -15px;
    }
  }

  &-item {
    border: 1px solid $brand-color;
    border-radius: 4px;
    box-sizing: border-box;
    color: $brand-color;
    display: flex;
    flex: 1 0 340px;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: center;
    @include tablet {
      margin: 0 15px 30px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $brand-color;

      * {
        color: $brand-text-color;
        text-decoration: none;
      }
    }

    &-internal {
      background-color: transparent;
      border: 1px solid $border-color;

      .icon-lock {
        bottom: 5px;
        height: 15px;
        position: relative;
        width: 15px;
      }

      a { color: $text-color; }
    }
  }

  &-item-link {
    border-radius: inherit;
    color: $brand-color;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;

    &:hover,
    &:active {
      text-decoration: none;
    }

    &:focus {
      @include focus-ring;
      text-decoration: none;
    }
  }

  &-item-title {
    font-size: 16px;
    margin-bottom: 0;
  }

  &-item-description {
    margin: 0;
  }

  &-item-description:not(:empty) {
    margin-top: 10px;
  }
}
