/***** Breadcrumbs *****/
.breadcrumbs {
  margin: 0;
  padding: 0;
  padding-bottom: calc(var(--mm-spacing) / 2);

  a {
    color: var(--mm-color-primary-text);
  }

  li {
    color: var(--mm-color-primary-text);
    display: inline;
    font-size: $font-size-small;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;

    + li::before {
      content: '\203A';
      margin: 0 4px;
    }
  }

  li:nth-child(1) {
    display: none;
  }

  li:nth-child(2)::before {
    display: none;
  }
}
