/***** Category pages *****/
.category {
  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    flex: 1;
    @include desktop {
      flex: 0 0 80%;
    }
  }
}

.section-tree {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  @include tablet { flex-direction: row; }

  .section {
    flex: initial;
    @include tablet { flex: 0 0 45%; /* Two columns for tablet and desktop. Leaving 5% separation between columns */ }
  }

  &-title {
    font-size: 18px;
    font-weight: $font-weight-semibold;
    margin-bottom: 0;

    a { color: $text-color; }
  }

  .see-all-articles {
    display: block;
    padding: 15px 0;
  }
}

.article-list {
  &-item {
    font-size: $font-size-bigger;
    padding: 15px 0;

    a { color: $text-color; }
  }
}

.icon-star {
  color: $brand-color;
  font-size: 18px;
}
