@use './mixins';

/***** Category pages *****/
@media only screen and (min-width: 320px) {
  .hero__lockup {
    grid-template-areas:
      'icon'
      'title'
      'subtitle';
  }

  .hero__icon {
    justify-self: center;
    margin-bottom: 25px;
  }

  .hero__title {
    font-size: 30px;
    text-align: center;
  }

  .hero__subtitle {
    font-size: 18px;
    text-align: center;
  }
}

@media only screen and (min-width: 576px) {
  .hero__lockup {
    grid-template-areas:
      'icon title'
      'icon subtitle'
  }

  .hero__icon {
    margin-bottom: 0;
  }

  .hero__title {
    font-size: 30px;
    text-align: left;
  }

  .hero__subtitle {
    font-size: 18px;
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .category__section-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .category__section-cards {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .hero__lockup {
    grid-template-areas:
      'icon title'
      'icon subtitle';
  }

  .hero__title {
    font-size: 40px;
    text-align: left;
  }

  .hero__subtitle {
    font-size: 25px;
    text-align: left;
  }

  .overview__content {
    display: grid;
  }

  .overview__description {
    justify-self: center;
    max-width: 880px;
    text-align: center;
    width: 100%;
  }

  .category__container {
    display: grid;
    justify-self: center;
    max-width: 980px;
    width: 100%;
  }

  .category__section-cards {
    grid-template-columns: 1fr 1fr;
  }
}

.hero {
  display: grid;
  padding: var(--mm-spacing);
  position: relative;
}

.hero[data-category='minFraud Services'] {
  --page-type-color: rgba(255, 0, 136, 0.5);
}

.hero[data-category='GeoIP and GeoLite'] {
  --page-type-color: rgba(0, 255, 102, 0.5);
}

.hero__lockup {
  column-gap: 20px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto;
  justify-self: center;
  row-gap: 10px;
}

.hero__icon {
  --mm-overview-heading-drop-shadow: 1px 3px 0 rgba(0, 0, 0, 0.25);
  --mm-product-icon-stroke-width: 6px;
  align-items: center;
  aspect-ratio: 1/1;
  background: linear-gradient(var(--page-type-color), #0077c2);
  border-radius: calc(var(--mm-border-radius) * 3);
  box-shadow: var(--mm-overview-heading-drop-shadow),inset 0 0 0 var(--mm-product-icon-stroke-width) rgba(255, 255, 255, 0.35);
  display: grid;
  grid-area: icon;
  height: 100px;
  justify-items: center;
  position: relative;
  transform-style: preserve-3d;
  width: 100px;
  z-index: 1;

  svg {
    fill: var(--mm-color-background);
    filter: drop-shadow(1px 2px 5px #0077c2);
    max-height: 70%;
    max-width: 70%;
    width: 100%;
  }
}

.hero__title {
  align-self: end;
  color: var(--mm-color-background);
  font-family: var(--mm-font-stack-display);
  font-weight: 700;
  grid-area: title;
  line-height: 1em;
  margin-bottom: 0;
  position: relative;
  text-shadow: var(--mm-overview-heading-drop-shadow);
  z-index: 1;
}

.hero__subtitle {
  color: var(--mm-color-background);
  font-family: var(--mm-font-stack-display);
  font-size: 18px;
  font-weight: 700;
  grid-area: subtitle;
  line-height: 1em;
  margin-bottom: 0;
  position: relative;
  text-shadow: var(--mm-overview-heading-drop-shadow);
  z-index: 1;
}

.overview__content {
  background: var(--mm-color-background);
  padding: var(--mm-spacing);

  >:first-child {
    margin-top: 0;
  }
}

.overview__description {
  color: var(--mm-color-primary-text);
  font-size: 16px;
  line-height: 26px;
  margin: calc(var(--mm-spacing) / 2) 0;
}

.category__container {
  display: block;
  margin: auto;
}

.category__section {
  margin-top: var(--mm-spacing);
}

.category__section-heading {
  color: var(--mm-color-primary-text);
  font-family: var(--mm-font-stack-default);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.category__section-cards {
  display: grid;
  gap: var(--mm-spacing);
  grid-gap: var(--mm-spacing);
  grid-template-rows: auto;

  a:hover {
    text-decoration: none;
  }
}

.category__card-container {
  @include mixins.pattern-border;
  background: linear-gradient(#fff, var(--mm-color-sidebar));
  border: 1px solid;
  border-color: #eee #eee #ddd;
  border-radius: var(--mm-border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: grid;
  gap: calc(var(--mm-spacing) / 2);
  grid-gap: calc(var(--mm-spacing) / 2);
  grid-template-areas:
    '. heading arrow'
    '. description arrow';
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: auto;
  margin-top: 0;
  overflow: hidden;
  padding: calc(var(--mm-spacing) / 2);
  padding-top: calc(var(--mm-spacing) / 2 + 6px);
  position: relative;
  text-decoration: none;
  top: 0;
  transition: all 0.1s ease-in-out;
  width: 100%;

  &::before,
  &::after {
    height: 6px !important;
  }

  &:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    top: -5px;
  }
}

.category__section-cards[data-category='minFraud Services'] {
  .category__card-container {
    --page-type-color: rgba(255, 0, 136, 0.5);
  }
}

.category__section-cards[data-category='GeoIP and GeoLite'] {
  .category__card-container {
    --page-type-color: rgba(0, 255, 102, 0.5);
  }
}

.category__card-header {
  align-self: center;
  color: var(--mm-color-display-text);
  font-family: var(--mm-font-stack-default);
  font-size: 18px;
  font-weight: 500;
  grid-area: heading;
  margin: 0;
}

.category__card-description {
  color: var(--mm-color-primary-text);
  font-family: var(--mm-font-stack-default);
  font-size: 14px;
  grid-area: description;
  margin: 0;
}

.category__card-arrow {
  border-left: 1px solid var(--mm-color-border);
  color: var(--mm-color-active-blue);
  display: grid;
  grid-area: arrow;
  height: 100%;
  padding-left: calc(var(--mm-spacing) / 2);

  > * {
    align-self: center;
  }

  svg {
    height: 1em;
    width: 1em;
  }
}
