/* Sidebar navigation that collapses on mobile */
.collapsible-sidebar {
  flex: 1;
  max-height: 45px;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
  @include desktop {
    max-height: none;
    padding: 0;
  }

  &-title {
    margin-top: 0;
  }

  &-toggle {
    background: none;
    border: 0;
    border-radius: 50%;
    height: 25px;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(45px / 2);
    transform: translateY(-50%);
    width: 25px;
    @include desktop { display: none; }

    [dir='rtl'] & {
      left: 0;
      right: auto;
    }

    &-icon {
      display: none;
    }

    &[aria-expanded='false'] {
      .chevron-icon {
        display: inline-block;
      }
    }

    &[aria-expanded='true'] {
      .x-icon {
        display: inline-block;
      }
    }

    &:focus {
      border: 1px solid $brand-color;
      outline: none;
    }
  }

  &-body {
    display: none;
    @include desktop { display: block; }
  }

  &[aria-expanded='true'] {
    max-height: none;

    .collapsible-sidebar-body {
      display: block;
    }
  }
}
