@use './mixins';

/***** Header *****/
$page-header-height: 80px;

.header-system-status {
  background-color: #2e3a47;
  display: none;
}

.show-header-system-status {
  display: block !important;
  padding: 10px;
}

.header-system-status-content {
  align-items: center;
  color: #c0d2e4;
  display: grid;
  font-size: 14px;
  grid-gap: 10px;
  gap: 10px;
  grid-auto-flow: column;
  justify-content: center;
  position: relative;
  z-index: 1;

  a {
    color: #fff;
    }
}

.header {
  @include mixins.pattern-border;
  background: var(--mm-color-background);
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
  height: $page-header-height;
  padding-top: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-area {
  display: grid;
  grid-template-areas: 'logo search menu';
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: auto;
  height: 70px;
  padding: 0 var(--mm-spacing);
}

.header-area>* {
  align-self: center;
}

.logo {
  display: grid;
  grid-area: logo;
  grid-template-areas: 'svg site-name';
  grid-template-columns: auto;
  padding: calc(var(--mm-spacing) / 4);
  transform: translateX(calc(var(--mm-spacing) / -4));

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.logo svg {
  align-self: center;
  grid-area: svg;
  grid-column: 1;
  grid-row: 1;
  justify-content: center;
  max-width: 125px;
  width: 100%;
}

.logo span {
  align-self: center;
  color: var(--mm-color-primary-text);
  font-family: var(--mm-font-stack-display);
  font-size: 10px;
  font-style: italic;
  font-weight: 600;
  grid-area: site-name;
  letter-spacing: 1px;
  line-height: 1;
  overflow: hidden;
  padding-left: 9px;
  position: relative;
  text-transform: uppercase;
}

.logo span::before {
  background: #ccc;
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: rotate(20deg) translateY(-50%);
  width: 1px;
}

.header-search {
  grid-area: search;
  width: 100%;

  .search {
    margin: 0;
    width: 100%;

    input[type='search'] {
      appearance: none !important;
      padding: 12px 10px 12px calc(var(--mm-spacing) + 15px);
    }

    input[type='submit'] {
      display: none;
    }
  }

  .header-search-mobile {
    position: relative;

    .search-mobile-btn {
      background: var(--mm-color-background);
      border: 1px solid var(--mm-color-border);
      border-radius: var(--mm-border-radius);
      box-sizing: border-box;
      color: var(--mm-color-primary-text);
      cursor: pointer;
      float: right;
      font-size: 12px;
      margin-right: calc(var(--mm-spacing) / 4);
      padding: 0;

      &:hover {
        background: var(--mm-color-sidebar);
      }
    }
  }
}

#header-checkbox {
  &:hover {
    background-color: var(--mm-color-sidebar);
  }
}

.nav-wrapper {
  grid-area: menu;
  grid-column: 3;
  grid-row: 1;
}

.nav-item {
  align-items: center;
  background-color: transparent;
  color: var(--mm-color-primary-text);
  display: block;
  font-family: $heading-font;
  font-size: 14px;
  font-weight: 500;
  margin-left: 46px;
  max-width: calc(100% - 46px);
  padding: 5px 10px;
  position: relative;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    color: var(--mm-color-display-text);
    text-decoration: none;
  }

  > * {
    align-self: center;
  }
}

.nav-category-header.nav-item,
.contact-us-sidenav {
  font-size: 16px;
  margin: 0;
  max-width: 340px;
  padding: 10px;
  position: relative;
}

.nav-category-header.nav-item {
  font-weight: 700;

  svg {
    vertical-align: middle;
  }
}

.contact-us-sidenav {
  font-weight: 700;
  margin-bottom: 0;
}

.page-type--minfraud .nav-category[data-category-name="minfraud-services"],
.page-type--geoip .nav-category[data-category-name="geoip-and-geolite"],
.page-type--account .nav-category[data-category-name="account-and-purchasing"],
.page-type--data-privacy .nav-category[data-category-name="data-privacy-and-licenses"] {
  background: #fff;
  border-top: 1px solid transparent;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  padding-bottom: 12px;

  .nav-icon:before {
    border-radius: 6px;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transform: translateZ(-1px);
    width: 100%;
  }

  li:last-of-type.nav-has-divider-bottom::after {
    content: none;
  }

  .nav-icon {
    background: linear-gradient(rgba(255,255,255,0.3),#0077c2);
    box-shadow: inset 0 0 0 3px rgb(255 255 255 / 35%);

    svg {
      filter: drop-shadow(1px 2px 5px #0077c2);

      path {
       fill: #fff;
      }
    }
  }

  .nav-label {
    color: var(--mm-color-display-text)
  }
}

.page-type--minfraud .nav-category-header.nav-item[data-name="minfraud-services"] {
  .nav-icon {
    background: linear-gradient(rgba(255,0,136,0.5),#0077c2);
  }
}

.page-type--geoip .nav-category-header.nav-item[data-name="geoip-and-geolite"] {
  .nav-icon {
    background: linear-gradient(rgba(0,255,102,0.5),#0077c2);
  }
}

.nav-icon {
  align-self: center;
  border-radius: 6px;
  display: grid;
  height: 40px;
  position: relative;
  transform-style: preserve-3d;
  width: 40px;
  z-index: 1;

  svg {
    align-self: center;
    height: 100%;
    justify-self: center;
    max-height: 70%;
    max-width: 70%;
    width: 100%;
  }

  path {
    fill: var(--mm-color-primary-text);
  }
}

.header-sidebar {
  background: var(--mm-color-sidebar);
  border-left: 1px solid var(--mm-color-border);
  box-shadow: -2px -1px 3px rgb(0 0 0 / 10%);
  grid-area: sidebar;
  height: 100%;
  max-width: var(--mm-layout-sidebar-width);
  position: fixed;
  right: 0;
  transition: all 0.15s ease-out;
  width: 100%;
  z-index: 20;
}

.header-sidebar-hidden {
  transform: translate3d(360px, 0, 0);
}

.sidebar-list {
  height: calc(100vh - var(--page-header-height));
  overflow-y: auto;
  position: sticky;
}

.nav-external-link-icon {
  margin-right: 5px;
  vertical-align: middle;
}

.sidebar-quick-links {
  border-top: 1px solid var(--mm-color-border);
  margin-top: var(--mm-spacing);
  padding: var(--mm-spacing) var(--mm-spacing) var(--mm-spacing) 56px;
}

.sidebar-quick-links__heading {
  font-family: var(--mm-font-stack-display);
  font-weight: 700;
  margin-bottom: calc(var(--mm-spacing) / 4);
}

.sidebar-quick-links__link-list-item {
  font-family: var(--mm-font-stack-display);
  font-size: 14px;
  padding: calc(var(--mm-spacing) / 8) 0;
}

.nav-item.contact-us-header {
  cursor: pointer;
  display: grid;
  grid-column-gap: calc(var(--mm-spacing) / 4);
  grid-template-areas: 'icon label';
  grid-template-columns: max-content auto;
  grid-template-rows: auto;
  margin: 5px 3px;

  .nav-icon {
    grid-area: icon;
  }

  .nav-label {
    grid-area: label;
  }
}

.nav-category {
  margin: 2px 0 3px;
}

.nav-item.contact-us-sidenav {
  margin: 5px 0 3px;
}

.nav-item.nav-category-header,
.nav-item.contact-us-sidenav {
  cursor: pointer;
  display: grid;
  grid-column-gap: calc(var(--mm-spacing) / 4);
  grid-template-areas: 'icon label caret';
  grid-template-columns: max-content auto min-content;
  grid-template-rows: auto;

  .nav-icon {
    grid-area: icon;
  }

  .nav-label {
    grid-area: label;
  }

  .nav-dropdown {
    grid-area: caret;
  }
}

.sidebar-item {
  margin: 2px 0 3px;
}

.sidebar-link:hover {
  background-color: rgba(255,255,255,.5);
}

.sidebar-link-active {
  background: var(--mm-color-sidebar);
  border-left: 4px solid var(--mm-color-active-blue)!important;
  color: var(--mm-color-display-text);

  &:hover {
    background-color: var(--mm-color-sidebar)!important;
  }
}

.nav-has-divider-top::before,
.nav-has-divider-bottom::after {
  border-top: 1px dashed var(--mm-color-border);
  content: ' ';
  display: block;
  height: 0;
  margin: calc(var(--mm-spacing) / 2) 0;
  width: 100%;
}

.is-open {
  .nav-dropdown > svg {
    transform: rotate(-180deg);
    transition: transform 0.15s linear;
  }

  .sub-nav-items {
    display: block;

    .nav-item {
      border-left: 4px solid transparent;
    }
  }
}

.is-closed {
  .nav-dropdown > svg {
    transition: transform 0.15s linear;
  }

  .sub-nav-items {
    display: none;
  }
}

.nav-item.nav-header {
  color: var(--mm-color-display-text);
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 20px;
}

.nav-wrapper .nav-item.nav-header .nav-label {
  padding-left: 0;
}

.header-module-toggle {
  align-items: center;
  background-color: var(--mm-color-background);
  border: 1px solid var(--mm-color-border);
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--mm-color-primary-text);
  cursor: pointer;
  display: flex;
  font-size: 12px;
  justify-content: center;
  padding: 0;
  z-index: 4;
}

.menu-open,
.menu-close {
  text-align: center;
  vertical-align: middle;
}

.menu-close {
  display: none;
}

#header-menu {
  background-color: var(--mm-color-background);
  border-left: 1px solid var(--mm-color-border);
  border-top: 1px solid transparent;
  box-shadow: inset 0 3px 5px -3px rgba(0, 0, 0, 0.6);
  height: 100vh;
  max-width: 0%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: max-width 0.15s ease-out;

  &::before {
    backdrop-filter: blur(10px);
    bottom: 0;
    box-shadow: inset 0 3px 5px -3px rgba(0, 0, 0, 0.6);
    content: '';
    opacity: 0;
    position: absolute;
    right: 100%;
    top: 0;
    transition: opacity 0.15s ease-out;
    width: 0;
  }
}

.header-module-toggle.open ~ #header-menu {
  max-width: 100%;
  padding: 5px 0 5px 10px;
}

.header-module-toggle.open ~ #header-menu::before {
  opacity: 1;
  width: 100vw;
}

.header-module-toggle.open {
  .menu-open {
    display: none;
  }

  .menu-close {
    display: block;
  }
}

.logo {
  gap: 8px;
  grid-gap: 8px;
}

.header-search {
  .search {
    display: none;
    position: relative;
  }
}

.header-module-toggle,
.search-mobile-btn {
  height: 30px;
  min-width: 30px;
  width: 30px;
}

.header-sidebar-hidden {
  transform: translate3d(100vw, 0, 0);
}

@media only screen and (min-width: 420px) {
  .header-module-toggle,
  .search-mobile-btn {
    height: 50px;
    min-width: 50px;
    width: 50px;

    svg {
      height: 16px;
      width: 16px;
    }
  }
}

@media only screen and (min-width: 576px) {
  .logo {
    gap: 10px;
    grid-gap: 10px;
    grid-template-columns: auto;
  }

  .logo span {
    padding-left: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    z-index: 30;
  }

  .logo svg {
    max-width: 172px;
  }

  .logo span {
    font-family: $heading-font;
    font-size: 12px;
  }

  .header-search {
    margin: auto;
    padding: 0 var(--mm-spacing);

    .search {
      display: inline-block;
      width: 100%;
    }
  }

  .header-search-mobile,
  .header-module-toggle {
    display: none;
  }

  .nav-category-header.nav-item {
    padding: 10px 30px;
  }

  .nav-item {
    align-items: center;
    display: inline-block;
    margin-left: 66px;
    max-width: calc(100% - 66px);
    width: 100%;
  }

  .contact-us-header {
    font-size: 16px;
    font-weight: 500;
    margin-left: 0;
    max-width: none;
  }

  .contact-us-sidenav {
    display: none !important;
  }

  #header-menu {
    border-left: 0;
    border-top: 0;
    box-shadow: none;
    height: auto;
    max-width: 900px;
    padding-right: 10px;
    padding-top: 0;
    position: static;
    right: 0;
    top: 0;
    transition: none;
  }

  .header-sidebar {
    border-left: 0;
    display: block !important;
    left: 0;
    position: relative;
    transform: none !important;
    transition: none;

    &::after {
      background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1));
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: -0;
      width: 5px;
    }
  }

  .sidebar-list {
    height: 100%;
    margin: var(--mm-spacing) 0;
    max-height: calc(100vh - var(--page-header-height) - 41px);
  }

  .sidebar-quick-links {
    padding-left: 76px;
  }
}

.skip-navigation {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 14px;
  justify-content: center;
  left: -999px;
  margin: 20px;
  overflow: hidden;
  padding: 20px;
  position: absolute;
  top: auto;
  z-index: -999;


  [dir='rtl'] & {
    left: initial;
    right: -999px;
  }

  &:focus,
  &:active {
    left: auto;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    top: auto;
    z-index: 999;


    [dir='rtl'] & {
      left: initial;
      right: auto;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .header-search {
    align-self: center;
    display: flex;
    justify-self: center;
    max-width: var(--mm-max-width);
    width: calc(100% - var(--mm-layout-sidebar-width) - var(--mm-spacing) * 2);
    width: 100%;
  }
}

@media only screen and (min-width: 1230px) {
  .header-search {
    max-width: 840px;
  }
}

@media only screen and (min-width: 1400px) {
  .header-search {
    justify-self: start;
  }
}

@media only screen and (max-width: 992px) {
  .header-search .search-mobile-open {
    display: inline-block;
    left: 0;
    margin: 0 var(--mm-spacing);
    position: absolute;
    top: calc(50% + 5px);
    transform: translateY(-50%);
    width: calc(100% - var(--mm-spacing) * 2);
    z-index: 100;
  }

  .contact-us-header {
    display: none !important;
  }
}
