@use './mixins';

/***** Header *****/
$page-header-height: 80px;

.header {
  @include mixins.pattern-border;
  background: $background-color;
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
  height: $page-header-height;
  padding-top: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-area {
  display: grid;
  grid-template-areas: 'logo search menu';
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: auto;
  height: 70px;
  padding: 0 $spacing;
}

.header-area>* {
  align-self: center;
}

.logo {
  color: $text-color;
  display: grid;
  gap: 8px;
  grid-area: logo;
  grid-column: 1;
  grid-gap: 8px;
  grid-row: 1;
  grid-template-areas: 'svg site-name';
  grid-template-columns: auto;
  padding: 10px;
  transform: translateX(-10);

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.logo svg {
  align-self: center;
  grid-area: svg;
  grid-column: 1;
  grid-row: 1;
  justify-content: center;
  max-width: 125px;
  width: 100%;
}

.logo span {
  align-self: center;
  font-family: $heading-font;
  font-size: 10px;
  font-style: italic;
  font-weight: 600;
  grid-area: site-name;
  grid-column: 3;
  grid-row: 1;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 1;
  overflow: hidden;
  padding-left: 9px;
  position: relative;
  text-transform: uppercase;
}

.logo span::before {
  background: #ccc;
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: rotate(20deg) translateY(-50%);
  width: 1px;
}

.header-spacer {
  grid-area: search;
  grid-column: 2;
  grid-row: 1;
}

.nav-wrapper {
  grid-area: menu;
  grid-column: 3;
  grid-row: 1;
}

.nav-wrapper .nav-item {
  display: block;
  font-family: $heading-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 5px;
  padding: 5px 20px 5px 10px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  &:active,
  &:hover,
  &:focus {
    color: $link-color;
    text-decoration: none;
  }
}

#header-menu .sub-nav {
  display: block;
  margin: 0;
  padding: 0;
}

.nav-wrapper .nav-item.nav-header {
  color: $link-color;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 20px;
}

.nav-wrapper .nav-icon,
.nav-wrapper .nav-label {
  display: inline-block;
}

.nav-wrapper .nav-label {
  padding: 10px 0 0 5px;
  white-space: nowrap;
}

.nav-wrapper .nav-item.nav-header .nav-label {
  padding-left: 0;
}

.nav-wrapper .nav-icon {
  height: 20px;
  position: relative;
  top: 5px;
  width: 20px;
}

.nav-wrapper .nav-icon path {
  fill: $text-color;
}

.header-module-toggle {
  align-items: center;
  border: 1px solid $border-color;
  border-radius: 6px;
  box-sizing: border-box;
  color: $text-color;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 30px;
  justify-content: center;
  min-width: 30px;
  padding: 0;
  width: 30px;
}

.header-module-toggle .menu-open,
.header-module-toggle .menu-close {
  text-align: center;
  vertical-align: middle;
}

.header-module-toggle .menu-close {
  display: none;
}

#header-menu {
  background-color: $background-color;
  border-left: 1px solid $border-color;
  border-top: 1px solid transparent;
  box-shadow: inset 0 3px 5px -3px rgba(0, 0, 0, 0.6);
  height: 100vh;
  max-width: 0%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: max-width 0.15s ease-out;
}

#header-menu::before {
  backdrop-filter: blur(10px);
  bottom: 0;
  box-shadow: inset 0 3px 5px -3px rgba(0, 0, 0, 0.6);
  content: '';
  opacity: 0;
  position: absolute;
  right: 100%;
  top: 0;
  transition: opacity 0.15s ease-out;
  width: 0;
}

#header-menu .header-sidebar .empty {
  display: none;
}

.header-module-toggle.open ~ #header-menu {
  max-width: 100%;
  padding: 5px 0 5px 10px;
}

.header-module-toggle.open ~ #header-menu::before {
  opacity: 1;
  width: 100vw;
}

.header-module-toggle.open > .menu-open {
  display: none;
}

.header-module-toggle.open > .menu-close {
  display: block;
}

@media only screen and (min-width: 576px) {
  .logo {
    gap: 15px;
    grid-gap: 15px;
    grid-template-columns: auto;
  }

  .logo span {
    padding-left: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .logo svg {
    max-width: 162px;
  }

  .logo span {
    font-family: $heading-font;
    font-size: 12px;
  }

  .header-module-toggle {
    display: none;
  }

  .nav-wrapper .nav-item {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 6px;
    color: $text-color;
    display: inline-block;
    font-size: 14px;
    padding-bottom: 10px;

    &:active,
    &:hover,
    &:focus {
      background: #f5f6f7;
      color: $text-color;
    }
  }

  #header-menu {
    border-left: 0;
    border-top: 0;
    box-shadow: none;
    height: auto;
    max-width: 900px;
    padding-top: 0;
    position: static;
    right: 0;
    top: 0;
    transition: none;
  }

  .nav-wrapper .nav-item.nav-header {
    display: none;
  }

  .header-sidebar {
    background-color: $background-color;
    left: 0;
    margin-top: 40px;
    padding: 20px 0;
    position: absolute;
    top: 100%;
    width: 350px;
  }

  .header-sidebar::after {
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1));
    content: '';
    height: 100vh;
    position: absolute;
    right: 0;
    top: -40px;
    width: 5px;
  }

  /* stylelint-disable no-descending-specificity */
  .header-sidebar .nav-item {
    background-color: transparent;
    font-size: 16px;
    padding: 10px 30px;

    &:active,
    &:hover,
    &:focus {
      background-color: transparent;
      color: $link-color;
    }
  }
  /* stylelint-enable no-descending-specificity */

  .header-sidebar .nav-icon {
    color: #444;
    height: 28px;
    margin-right: 10px;
    width: 28px;
  }
}

.skip-navigation {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 14px;
  justify-content: center;
  left: -999px;
  margin: 20px;
  overflow: hidden;
  padding: 20px;
  position: absolute;
  top: auto;
  z-index: -999;


  [dir='rtl'] & {
    left: initial;
    right: -999px;
  }

  &:focus,
  &:active {
    left: auto;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    top: auto;
    z-index: 999;


    [dir='rtl'] & {
      left: initial;
      right: auto;
    }
  }
}
