@use './mixins';

/***** Hero component *****/
.hero {
  @include mixins.pattern;
  padding: 20px 20px 40px;
  width: 100%;

  &-inner {
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  &-small {
    @include mixins.pattern;
    padding: 20px 40px;
    width: 100%;
  }
}

.hero-title {
  color: var(--mm-color-background);
  font-family: var(--mm-font-stack-display);
  font-size: 36px;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  text-shadow: $overview-heading-text-shadow;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .hero-inner {
    max-width: 610px;
  }

  .hero-title {
    font-size: 50px;
  }
}
