@use './mixins';

/***** Hero component *****/
.hero {
  @include mixins.pattern;
  padding: 20px 20px 40px;
  width: 100%;

  &-inner {
    margin: 0 auto;
    max-width: 610px;
    position: relative;
  }

  &-small {
    @include mixins.pattern;
    padding: 20px 40px;
    width: 100%;
  }
}

.hero-inner h2 {
  color: $brand-text-color;
  font-family: $heading-font;
  font-size: 30px;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  text-shadow: $overview-heading-text-shadow;
  z-index: 1;
}

@media only screen and (min-width: 1410px) {
  .hero-inner {
    max-width: 950px;
  }

  .hero-inner h2 {
    font-size: 45px;
  }
}
