@use './mixins';

/***** Homepage *****/

.page__home {
  zd-autocomplete-multibrand zd-autocomplete-title-multibrand {
    font-size: 18px;
  }

  zd-autocomplete-multibrand zd-autocomplete-breadcrumbs-multibrand {
    font-size: 14px;
  }
}

.toggle-container {
  margin: auto;
  margin-top: var(--mm-spacing);
  width: 150px;
}

.categories-toggle-btn {
  background-color: var(--mm-color-background-code);
  border: 1px solid var(--mm-color-background-code);
  border-radius: var(--mm-border-radius);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  color: var(--mm-color-background);
  font-weight: bold;
  padding: 10px;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in-out;
  width: 150px;

  &:hover {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    cursor: pointer;
    top: -2px;
  }
}

.categories-section:not(.active) {
  display: none;
}

/***** Categories *****/
.blocks__list,
.blocks__cards {
  display: grid;
  gap: var(--mm-spacing);
  grid-gap: var(--mm-spacing);
  justify-content: center;
  padding: var(--mm-spacing);
}

.blocks__item {
  background-color: var(--mm-color-sidebar);
  border: 0;
  border-radius: var(--mm-border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: grid;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.blocks__item[data-name='minFraud Web Services'] {
  --page-type-color: rgba(255, 0, 136, 0.5);
}

.blocks__item[data-name='GeoIP2 and GeoLite2'] {
  --page-type-color: rgba(0, 255, 102, 0.5);
}

.blocks__item-header {
  @include mixins.pattern;
  align-items: center;
  display: flex;
  grid-area: header;
  justify-content: center;
}

.blocks__item-lockup {
  align-items: center;
  display: grid;
  gap: calc(var(--mm-spacing) / 4);
  grid-template-columns: max-content 1fr;
}

.blocks__item-icon {
  --mm-overview-heading-drop-shadow: 1px 3px 0 rgba(0, 0, 0, 0.25);
  --mm-product-icon-stroke-width: 6px;
  align-items: center;
  aspect-ratio: 1 / 1;
  background: linear-gradient(var(--page-type-color), #0077c2);
  border-radius: calc(var(--mm-border-radius) * 3);
  border-radius: 18px;
  box-shadow: var(--mm-overview-heading-drop-shadow),
    inset 0 0 0 var(--mm-product-icon-stroke-width) rgba(255, 255, 255, 0.35);
  display: grid;
  justify-items: center;
  position: relative;
  transform-style: preserve-3d;
  width: 90px;
  z-index: 1;
}

.blocks__item-icon::before {
  background: #00a7e5;
  border-radius: calc(var(--mm-border-radius) * 3);
  content: ' ';
  display: block;
  height: 100%;
  position: absolute;
  transform: translateZ(-1px);
  width: 100%;
}

.blocks__item-icon svg {
  fill: #fff;
  filter: drop-shadow(1px 2px 5px #0077c2);
  max-height: 70%;
  max-width: 70%;
  width: 100%;
}

.blocks__item-heading {
  color: #fff;
  margin: 0;
  position: relative;
  text-shadow: 1px 2px 0 rgb(0 0 0 / 25%);
  z-index: 1;
}

.blocks__item-content {
  background: var(--mm-color-background);
  grid-area: content;
  padding: calc(var(--mm-spacing) / 2);
}

.blocks__item-links {
  background: var(--mm-color-sidebar);
  border-top: 1px solid var(--mm-color-border);
  display: grid;
  grid-area: links;
  padding: 10px;
  text-align: center;

  > * {
    justify-self: center;
  }
}

.blocks__item-link {
  @include mixins.pattern-border;
  align-items: center;
  background: linear-gradient(var(--mm-color-background),var(--mm-color-sidebar));
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  color: var(--mm-color-primary-text);
  display: inline-grid;
  font-family: var(--mm-font-stack-display);
  font-size: 14px;
  font-weight: 400;
  gap: 5px;
  grid-template-columns: max-content max-content;
  margin: 0;
  overflow: hidden;
  padding: 12px 10px 8px;
  position: relative;
  text-decoration: none;
  top: 0;
  transition: all 0.1s ease-in-out;
  width: 100%;

  &::before,
  &::after {
    height: 4px !important;
  }

  &:hover {
    text-decoration: none;
    top: -2px;
  }
}

.blocks__item-link svg {
  color: var(--mm-color-active-blue);
  justify-self: end;
  width: 14px;
}

.blocks__cards {
  a:hover {
    text-decoration: none;
  }
}

.category__card-icon {
  color: var(--mm-color-active-blue);
  display: grid;
  grid-area: c-icon;
  height: 30px;

  > * {
    align-self: center;
  }

  svg {
    height: 30px;
    width: 30px;
  }
}

.home__page-promoted {
  margin: var(--mm-spacing);

  .category__card-header {
    font-size: 14px;
  }

  .category__card-description {
    font-size: 12px;
  }

  .promoted__cards {
    display: grid;
    gap: calc(var(--mm-spacing) / 2);
    grid-gap: calc(var(--mm-spacing) / 2);

    a:hover {
      text-decoration: none;
    }
  }

  .category__card-container {
    gap: calc(var(--mm-spacing) / 4);
    grid-gap: calc(var(--mm-spacing) / 4);
    grid-template-areas: 'heading arrow';
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
    padding: calc(var(--mm-spacing) / 4);
    padding-top: calc(var(--mm-spacing) / 4 + 6px);

    .category__card-arrow {
      padding-left: calc(var(--mm-spacing) / 4);
    }
  }

  .home__page-promoted-heading {
    border-top: 1px dashed var(--mm-color-border);
    color: #00374c;
    font-family: var(--mm-font-stack-display);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    margin: var(--mm-spacing) 0 calc(var(--mm-spacing) / 2) 0;
    padding-top: var(--mm-spacing);
  }
}

@media only screen and (min-width: 320px) {
  .promoted__cards,
  .blocks__cards {
    grid-template-columns: 1fr;
  }

  .blocks__item {
    grid-template-areas:
      'header'
      'content'
      'links';
  }

  .blocks__item-header {
    padding: calc(var(--mm-spacing) / 2);
  }

  .blocks__item-content {
    padding: calc(var(--mm-spacing) / 2);
  }

  .blocks-item-description {
    font-size: 14px;
  }

  .blocks__item-links {
    gap: calc(var(--mm-spacing) / 2);
    grid-auto-flow: column;
    grid-gap: calc(var(--mm-spacing) / 2);
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    padding: calc(var(--mm-spacing) / 2);
    width: 100%;
  }

  .blocks__item-link {
    gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: max-content auto;
  }
}

@media only screen and (min-width: 576px) {
  .promoted__cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .blocks__list {
    grid-template-columns: repeat(2, minmax(0, 600px));
  }

  .blocks__cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .page__home .header-sidebar {
    display: none !important;
  }

  .page__home main {
    margin-left: -350px;
  }

  .promoted__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .blocks__item {
    grid-template-areas:
      'header header'
      'content links';
  }

  .blocks__cards {
    grid-template-columns: repeat(3, minmax(0, 400px));
  }

  .blocks__item-header {
    padding: var(--mm-spacing);
  }

  .blocks__item-content {
    padding: var(--mm-spacing);
  }

  .blocks-item-description {
    font-size: 16px;
  }

  .blocks__item-links {
    border-left: 1px solid var(--mm-color-border);
    border-top: 0;
    display: grid;
    gap: calc(var(--mm-spacing) / 2);
    grid-area: links;
    grid-gap: calc(var(--mm-spacing) / 2);
    grid-template-columns: auto;
    grid-template-rows: max-content max-content;
    padding: var(--mm-spacing);
  }
}
