/***** Homepage *****/

.section {
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 60px;
  }
}

.home-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

/***** Categories *****/
.knowledge-base .categories.blocks .blocks-list {
  column-gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
}

.knowledge-base .categories.blocks .blocks-item {
  background-color: #f0f8ff;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin: 0;
  max-width: 300px;

  &:hover {
    background-color: #f0f8ff;
  }
}

.knowledge-base .categories.blocks .blocks-item-link {
  justify-content: space-between;
  padding: 0;
  position: relative;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
    top: -2px;
  }
}

.blocks-item-icon {
  background-color: #00a7e5;
  border-radius: 30px;
  display: block;
  filter: grayscale(35%);
  margin: 20px auto auto;
  position: relative;
  transition: filter 0.2s ease-in-out;
  vertical-align: middle;
  width: 200px;
}

.blocks-item-link:hover .blocks-item-icon {
  filter: grayscale(0%);
}

.blocks-item-icon:before {
  background: linear-gradient(180deg,rgba(0,119,194,.5),rgba(0,55,76,0.5));
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px rgba(255,255,255,0.5);
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.blocks-item[category-name="minFraud Services"] .blocks-item-icon:before {
  background: linear-gradient(180deg,rgba(0,119,194,.5),rgba(255,0,136,0.5));
}

.blocks-item[category-name="GeoIP and GeoLite"] .blocks-item-icon:before {
  background: linear-gradient(180deg,rgba(0,119,194,.5),rgba(0,255,102,0.5));
}

.blocks-item-icon:after {
  content: " ";
  display: block;
  padding-bottom: 100%;
}

.blocks-item-icon svg {
  position: absolute;
  fill: #fff;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  margin: auto 0;
}

.knowledge-base .categories.blocks .blocks-item .blocks-item-title {
  background-color: #fff;
  border-top: 1px solid $border_color;
  color: $brand_color;
  font-size: 17.6px;
  font-weight: 700;
  margin: 20px 0 0;
  padding: 10px 30px;
  text-align: center;
}

.knowledge-base .categories.blocks .blocks-item .blocks-item-description {
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: $text_color;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 -2px;
  min-height: 105px;
  padding: 0 30px 20px;
  text-align: left;
}

/***** Promoted articles *****/

.promoted-articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include desktop { flex-direction: row; }

  &-item {
    flex: 1 0 auto;
    @include desktop {
      align-self: flex-end;
      flex: 0 0 auto;
      padding-right: 30px;
      width: 33%; /* Three columns on desktop */

      [dir='rtl'] & { padding: 0 0 0 30px; }
    }

    &:nth-child(3n) {
      padding-right: 0;
    }

    a {
      border-bottom: 1px solid $border-color;
      color: $text-color;
      display: block;
      padding: 15px 0;
    }

    .icon-lock {
      vertical-align: baseline;
    }

    &:last-child a {
      border: 0;
      @include desktop {
        border-bottom: 1px solid $border-color;
      }
    }
  }

}

/***** Community section in homepage *****/
.community {
  text-align: center;

  &-image {
    /* stylelint-disable-next-line function-url-quotes */
    background-image: url(unquote("$community_image"));
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 32px;
    max-width: 100%;
    min-height: 300px;
  }
}

.community,
.activity {
  border-top: 1px solid $border-color;
  padding: 30px 0;
}
