@use './mixins';

/***** Homepage *****/

.home-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

.categories-toggle {
  display: flex;
  justify-content: center;
  margin: var(--mm-spacing);
}

.categories-toggle__form {
  @include mixins.pattern;
  border: 1px solid var(--mm-color-border);
  border-radius: var(--mm-border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
  padding: 4px;
}

.categories-toggle .categories-toggle__radio {
  display: none;
}

.categories-toggle__label {
  align-content: center;
  color: #fff;
  cursor: pointer;
  display: grid;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  position: relative;
  text-shadow: 1px 2px 0 rgb(0 0 0 / 25%);
  text-transform: uppercase;
  z-index: 1;
}

.categories-toggle .categories-toggle__radio:checked + .categories-toggle__label {
  background: var(--mm-color-sidebar);
  border: 1px solid var(--mm-color-border);
  border-radius: var(--mm-border-radius);
  color: inherit;
  text-shadow: none;
}

.categories-section {
  margin: var(--mm-spacing);
}

.categories-section:not(.active) {
  display: none;
}

/***** Categories *****/
.blocks__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.blocks__item {
  background-color: var(--mm-background-color);
  border: 0;
  border-radius: var(--mm-border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  flex: 0 0 1;
  margin: 0;
  max-width: 360px;
  overflow: hidden;
  width: 100%;
}

.blocks__item[data-name='minFraud Services'] {
  --page-type-color: rgba(255, 0, 136, 0.5);
}

.blocks__item[data-name='GeoIP and GeoLite'] {
  --page-type-color: rgba(0, 255, 102, 0.5);
}

.blocks__item-header {
  @include mixins.pattern;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: calc(var(--mm-spacing) / 2);
}

.blocks__item-lockup {
  align-items: center;
  display: grid;
  gap: calc(var(--mm-spacing) / 4);
  grid-template-columns: max-content 1fr;
}

.blocks__item-icon {
  --mm-overview-heading-drop-shadow: 1px 3px 0 rgba(0, 0, 0, 0.25);
  --mm-product-icon-stroke-width: 6px;
  align-items: center;
  aspect-ratio: 1 / 1;
  background: linear-gradient(var(--page-type-color), #0077c2);
  border-radius: calc(var(--mm-border-radius) * 3);
  border-radius: 18px;
  box-shadow: var(--mm-overview-heading-drop-shadow),
    inset 0 0 0 var(--mm-product-icon-stroke-width) rgba(255, 255, 255, 0.35);
  display: grid;
  justify-items: center;
  position: relative;
  transform-style: preserve-3d;
  width: 90px;
  z-index: 1;
}

.blocks__item-icon::before {
  background: #00a7e5;
  border-radius: calc(var(--mm-border-radius) * 3);
  content: ' ';
  display: block;
  height: 100%;
  position: absolute;
  transform: translateZ(-1px);
  width: 100%;
}

.blocks__item-icon svg {
  fill: #fff;
  filter: drop-shadow(1px 2px 5px #0077c2);
  max-height: 70%;
  max-width: 70%;
  width: 100%;
}

.blocks__item-heading {
  color: #fff;
  margin: 0;
  position: relative;
  text-shadow: 1px 2px 0 rgb(0 0 0 / 25%);
  z-index: 1;
}

.blocks__item-content {
  background: var(--mm-color-background);
  padding: calc(var(--mm-spacing) / 2);
}

.blocks__item-links {
  background: var(--mm-color-sidebar);
  border-top: 1px solid var(--mm-color-border);
  padding: calc(var(--mm-spacing) / 2);
  text-align: center;
}

.blocks__item-link {
  @include mixins.pattern-border;
  align-items: center;
  background: var(--mm-color-background);
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  color: var(--mm-color-primary-text);
  display: inline-grid;
  font-family: var(--mm-font-stack-display);
  font-size: 14px;
  font-weight: 400;
  gap: 5px;
  grid-template-columns: max-content max-content;
  margin: 0 5px;
  overflow: hidden;
  padding: 12px 10px 8px;
  position: relative;
  text-decoration: none;
  top: 0;
  transition: all 0.1s ease-in-out;

  &::before,
  &::after {
    height: 4px !important;
  }

  &:hover {
    text-decoration: none;
    top: -2px;
  }
}

.blocks__item-link svg {
  color: var(--mm-color-active-blue);
  width: 14px;
}

/***** Promoted articles *****/

.promoted-articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include desktop { flex-direction: row; }

  &-item {
    flex: 1 0 auto;
    @include desktop {
      align-self: flex-end;
      flex: 0 0 auto;
      padding-right: 30px;
      width: 33%; /* Three columns on desktop */

      [dir='rtl'] & { padding: 0 0 0 30px; }
    }

    &:nth-child(3n) {
      padding-right: 0;
    }

    a {
      border-bottom: 1px solid $border-color;
      color: $text-color;
      display: block;
      padding: 15px 0;
    }

    .icon-lock {
      vertical-align: baseline;
    }

    &:last-child a {
      border: 0;
      @include desktop {
        border-bottom: 1px solid $border-color;
      }
    }
  }

}

/***** Community section in homepage *****/
.community {
  text-align: center;

  &-image {
    /* stylelint-disable-next-line function-url-quotes */
    background-image: url(unquote("$community_image"));
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 32px;
    max-width: 100%;
    min-height: 300px;
  }
}

.community,
.activity {
  border-top: 1px solid $border-color;
  padding: 30px 0;
}

@media only screen and (min-width: 992px) {
  .page__home .header-sidebar {
    display: none;
  }

  .page__home main {
    margin-left: 0;
  }
}
