/* stylelint-disable scss/at-extend-no-missing-placeholder */

/***** My activities *****/
@media only screen and (min-width: 320px) {
  .my__requests {
    height: 100%;
    padding: var(--mm-spacing);
  }

  .my__requests__header {
    padding: 0 var(--mm-spacing);

    .my__requests__title {
      font-size: 28px;
    }
  }

  .requests-table-toolbar {
    align-items: center;
    display: grid;
    grid-template-areas:
      'searchbar'
      'status';
    grid-template-columns: 1fr;
    padding: 0 var(--mm-spacing) calc(var(--mm-spacing) / 2);

    .search__requests,
    .request-table-filter {
      justify-self: center;
    }
  }
}

@media only screen and (min-width: 768px) {
  .my__requests {
    padding: var(--mm-spacing);
  }

  .my__requests__header {
    padding: 0 var(--mm-spacing) 0;

    .my__requests__title {
      font-size: 42px;
    }
  }

  .requests-table-toolbar {
    align-items: center;
    display: grid;
    grid-template-areas: 'searchbar status';
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--mm-spacing) 0;

    .search__requests {
      justify-self: left;
      width: 350px;
    }

    .request-table-filter {
      grid-template-columns: 1fr 1fr;
      justify-self: right;

      .request-filter-label {
        justify-self: right;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .my__requests {
    justify-items: start;
    padding: var(--mm-spacing) 0;
  }

  .my__requests__header,
  .requests-table-toolbar,
  .requests,
  .pagination {
    max-width: 1200px;
    padding: 0 var(--mm-spacing) 0;
    width: 100%;
  }
}

.my__requests {
  display: grid;
  grid-template-areas:
    'header'
    'search'
    'requests';
}

.my__requests__header {
  grid-area: header;
  margin: 0;
  z-index: 5;

  .my__requests__title {
    color: #00374c;
    font-family: var(--mm-font-stack-display);
    font-weight: 600;
    line-height: 1.2em;
    margin: 0;
    padding: 0 0 var(--mm-spacing);
    position: relative;
    scroll-margin-top: calc(var(--page-header-height) + var(--mm-spacing));
  }
}

.my__requests-nav-list {
  border-bottom: 1px solid var(--mm-color-border);
  display: flex;
  justify-content: center;
  padding-bottom: calc(var(--mm-spacing) / 2);

  a {
    color: var(--mm-color-primary-text);
    text-decoration: none;
  }

  li {
    padding: 10px;
  }

  li:hover {
    border-bottom: 4px solid var(--mm-color-border);

    :not([aria-current='page']) {
      padding: 15px 0 11px;
      text-decoration: none;
    }
  }

  li:not([aria-selected='true']),
  li:not(.current) {
    display: block;
  }

  li[aria-selected='true'] {
    padding: 15px 0 11px;
  }

  /* stylelint-disable selector-no-qualifying-type */
  li[aria-selected='true'],
  li.current {
    border-bottom: 4px solid #00374c;
    position: relative;
  }
}

.requests-table-toolbar {
  grid-area: search;
  margin: 0;

  .search__requests {
    grid-area: searchbar;
    margin: 0;

    .requests-search {
      border: 1px solid var(--mm-color-border);
    }
  }

  .request-table-filter {
    align-items: center;
    display: grid;
    grid-area: status;
    grid-template-areas: 'label dropdown';
    margin: 0;

    .request-filter-label {
      grid-area: label;
      padding-right: 5px;
    }

    .request-filter-dropdown {
      grid-area: dropdown;
    }
  }
}

.requests {
  grid-area: requests;
  overflow-x: scroll;
  padding: 0 var(--mm-spacing) var(--mm-spacing);
  width: 100%;

  .requests-search-info {
    padding-bottom: calc(var(--mm-spacing) / 2);
  }
}

.pagination {
  padding: 0 var(--mm-spacing) 0;
  width: 100%;
}
