/* stylelint-disable scss/at-extend-no-missing-placeholder */

.pagination {
  margin-bottom: var(--mm-spacing);

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  .pagination-prev-text {
    float: left;

    &::before {
      content: '<';
      margin-right: 5px;
    }
  }

  .pagination-next-text {
    float: right;

    &::after {
      content: '>';
      margin-left: 5px;
    }
  }

  .pagination-prev-text,
  .pagination-next-text {
    border-bottom: 2px dotted var(--mm-color-display-text);
    color: var(--mm-color-display-text);
    text-decoration: none;

    &:hover {
      border-bottom-style: solid;
    }
  }

  .pagination-first,
  .pagination-last,
  .pagination-next-icon,
  .pagination-prev-icon {
    display: none;
  }
}
