@use './mixins';

/***** Request *****/
@media only screen and (min-width: 320px) {
  .new__request,
  .request__page {
    height: 100%;
    padding: var(--mm-spacing);
  }

  .new__request__title,
  .request__title {
    font-size: 28px;
  }

  .request__details {
    grid-template-areas:
      'id'
      'requester'
      'created'
      'updated'
      'status'
      'followup'
      'satisfaction';
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 620px) {
  .request__details {
    grid-template-areas:
      'id created'
      'requester updated'
      'status followup'
      'satisfaction satisfaction';
    grid-template-columns: 250px;
  }
}

@media only screen and (min-width: 768px) {
  .new__request,
  .request__page {
    padding: var(--mm-spacing);
  }

  .new__request__title,
  .request__title {
    font-size: 42px;
  }
}

@media only screen and (min-width: 1200px) {
  .new__request,
  .request__page {
    padding: var(--mm-spacing) 0;
  }

  .new__request {
    display: grid;
    grid-template-areas:
      'header'
      'form';
    justify-items: start;
  }

  .new__request__header,
  .request__page__header {
    max-width: 880px;
    padding: 0 var(--mm-spacing) 0;
    width: 100%;
  }

  .new__request__form,
  .request__container {
    max-width: 880px;
    padding: 0 var(--mm-spacing) 0;
    width: 100%;
  }
}

.new__request__header,
.request__page__header {
  grid-area: header;
  margin: 0;
  max-width: 880px;
  width: 100%;
  z-index: 5;

  .new__request__title,
  .request__title {
    color: #00374c;
    font-family: var(--mm-font-stack-display);
    font-weight: 600;
    grid-area: title;
    line-height: 1.2em;
    margin: 0;
    padding: 0 0 var(--mm-spacing);
    position: relative;
    scroll-margin-top: calc(var(--page-header-height) + var(--mm-spacing));
  }
}

.comment__wrapper {
  code {
    background: #fff;
    border: 1px solid var(--mm-color-border);
    border-radius: 4px;
    color: var(--mm-color-display-text);
    font-family: var(--mm-font-stack-monospace);
    font-size: 14px;
    font-weight: 700;
    padding: 2px 6px;
    transition: background-color 0.2s ease-out;
  }

  code:hover {
    background-color: var(--mm-color-sidebar);
  }

  a {
    border-bottom: 2px dotted var(--mm-color-display-text);
    color: var(--mm-color-display-text);
    font-weight: 500;
  }

  a:hover {
    border-bottom: 2px solid var(--mm-color-display-text);
    text-decoration: none;
  }

  ul {
    li {
      list-style-type: disc;
      margin-left: 25px;
    }
  }
}

.request__follow-up {
  font-weight: 500;
  margin-top: calc(var(--mm-spacing) / 2);

  a {
    border-bottom: 2px dotted var(--mm-color-display-text);
    color: var(--mm-color-display-text);
    font-weight: 500;
  }

  a:hover {
    border-bottom: 2px solid var(--mm-color-display-text);
    text-decoration: none;
  }
}

.new__request__form {
  font-family: montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  grid-area: form;

  .searchbox {
    padding-top: 10px;

    a {
      color: var(--mm-color-display-text);
    }
  }

  label {
    font-family: var(--mm-font-stack-display);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2em;
    position: relative;
  }
}

.request__details {
  @include mixins.pattern-border;
  background-color: var(--mm-color-sidebar);
  display: grid;
  justify-content: center;
  padding: calc(var(--mm-spacing) / 2);
  position: relative;

  [class*='request__details-'] {
    display: flex;

    .request__details-label {
      font-weight: 500;
      width: 80px;
    }
  }

  .request__details-id {
    grid-area: id;
  }

  .request__details-requester {
    grid-area: requester;
  }

  .request__details-created {
    grid-area: created;
  }

  .request__details-updated {
    grid-area: updated;
  }

  .request__details-status {
    grid-area: status;
  }

  .request__details-follow-up {
    grid-area: followup;

    a {
      border-bottom: 2px dotted var(--mm-color-display-text);
      color: var(--mm-color-display-text);
      font-weight: 500;
    }

    a:hover {
      border-bottom: 2px solid var(--mm-color-display-text);
      text-decoration: none;
    }
  }
}

#upload-dropzone > span > a {
  color: var(--mm-color-display-text);
}

#request_subject,
#hc-wysiwyg,
.nesty-input,
#upload-dropzone {
  border: 1px solid rgb(121, 135, 146);
  border-radius: 2px;
  box-shadow: rgb(87 102 114 / 50%) 0 1px 5px 0 inset;
  color: var(--mm-color-primary-text);
  width: 100%;
}

#new_request > footer {
  display: grid;
  justify-content: center;
  padding: calc(var(--mm-spacing) / 2);

  input[type=submit] {
    background-color: var(--mm-color-background-code);
    border: 1px solid var(--mm-color-background-code);
    border-radius: 4px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    color: var(--mm-color-background);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 2.34;
    margin: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: 80px;
  }

  input[type=submit]:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    top: -2px;
  }
}

.comment__list {
  word-wrap: break-word;
}

.comment__meta {
  margin-bottom: calc(var(--mm-spacing) / 2);

  .comment__time {
    font-size: smaller;
  }
}

.request__main {
  border-top: 1px solid var(--mm-color-border);
  margin-top: calc(var(--mm-spacing) / 2);
}

.satisfaction-box {
  background-color: var(--mm-color-sidebar);
  border-style: none;
  grid-area: satisfaction;
  margin: 0;
  margin-top: calc(var(--mm-spacing) / 2);
  padding: 0;
  text-align: center;

  h4 {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }
}

.comment-container {
  .comment-show-container {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    display: block;
    font-size: 16px;
    margin: auto;
    margin-bottom: calc(var(--mm-spacing) / 2);
    position: relative;
    top: 0;

    &:hover {
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
      top: -2px;
    }
  }

  .comment-fields {
    display: none;
  }
}
