/***** Search field *****/
.search {
  input[type='search'] {
    border: 1px solid var(--mm-color-border);
    border-radius: var(--mm-border-radius);
    color: var(--mm-color-primary-text);
    height: 40px;
    width: 100%;

    &:focus {
      box-shadow: 0 0 0 2px var(--mm-color-logo-blue-light);
      outline: none;
    }
  }
}

.hero-inner .search,
.header-search .search {
  &::before {
    background: no-repeat url('/assets/svg/icon-search.svg');
    content: ' ';
    height: 1em;
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
  }
}

// Homepage search
.hero-inner {
  .search {
    justify-self: center;
    margin: 20px auto;
    position: relative;
    z-index: 1;

    input[type='search'] {
      box-sizing: border-box;
      padding-left: calc(var(--mm-spacing) + 15px);
      padding-right: calc(var(--mm-spacing) * 3);

      [dir='rtl'] & {
        padding-left: 20px;
        padding-right: 40px;
      }
    }

    input[type='submit'] {
      background: var(--mm-color-sidebar);
      border: 1px solid $border-color;
      border-radius: var(--mm-border-radius);
      color: var(--mm-color-primary-text);
      display: grid;
      font-family: var(--mm-font-stack-display);
      font-weight: 600;
      height: calc(100% - 10px);
      line-height: 1;
      margin: 5px;
      min-width: 0;
      padding: 0 calc(var(--mm-spacing) / 2);
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
  }
}

// My requests search
.search__requests {
  .search {
    padding-left: var(--mm-spacing);
  }
}
