/***** Search field *****/

// Homepage search

.search {
  input[type='search'] {
    border: 1px solid var(--mm-color-border);
    border-radius: var(--mm-border-radius);
    color: var(--mm-color-primary-text);
    width: 100%;

    &:focus {
      border: var(--mm-outline);
    }
  }
}

.hero-inner {
  .search {
    justify-self: center;
    margin: 20px auto;
    position: relative;
    z-index: 1;

    input[type='search'] {
      box-sizing: border-box;
      height: 40px;
      padding-left: 40px;
      padding-right: 120px;

      [dir='rtl'] & {
        padding-left: 20px;
        padding-right: 40px;
      }
    }

    input[type='submit'] {
      background: var(--mm-color-sidebar);
      border: 1px solid $border-color;
      border-radius: var(--mm-border-radius);
      color: var(--mm-color-primary-text);
      display: grid;
      font-family: var(--mm-font-stack-display);
      font-weight: 600;
      height: calc(100% - 10px);
      line-height: 1;
      margin: 5px;
      min-width: 0;
      padding: 0 calc(var(--mm-spacing) / 2);
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
  }
}

.search-icon {
  color: #777;
  height: 18px;
  left: 15px;
  position: relative;
  top: 33px;
  width: 18px;
  z-index: 1;

  [dir='rtl'] & {
    left: auto;
    right: 15px;
  }
}
