/***** Search field *****/
.search {
  input[type='search'] {
    border: 1px solid var(--mm-color-border);
    border-radius: var(--mm-border-radius);
    color: var(--mm-color-primary-text);
    width: 100%;

    &:focus {
      box-shadow: 0 0 0 2px var(--mm-color-logo-blue-light);
      outline: none;
    }
  }
}

.header-search .search {
  &::before {
    background: no-repeat url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiBmb2N1c2FibGU9ImZhbHNlIiB2aWV3Qm94PSIwIDAgMTIgMTIiIGNsYXNzPSJzZWFyY2gtaWNvbiIgYXJpYS1oaWRkZW49InRydWUiPgogIDxjaXJjbGUgY3g9IjQuNSIgY3k9IjQuNSIgcj0iNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNTk1OTU5Ii8+CiAgPHBhdGggc3Ryb2tlPSIjNTk1OTU5IiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0xMSAxMUw3LjUgNy41Ii8+Cjwvc3ZnPgo=');
    content: ' ';
    height: 1em;
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
  }

  input[type='search'] {
    height: 40px;
  }
}

// Homepage search
.hero-inner {
  .search {
    justify-self: center;
    margin: 20px auto;
    position: relative;
    width: 100%;
    z-index: 1;

    &::before {
      background: no-repeat url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiBmb2N1c2FibGU9ImZhbHNlIiB2aWV3Qm94PSIwIDAgMTIgMTIiIGNsYXNzPSJzZWFyY2gtaWNvbiIgYXJpYS1oaWRkZW49InRydWUiPgogIDxjaXJjbGUgY3g9IjQuNSIgY3k9IjQuNSIgcj0iNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNTk1OTU5Ii8+CiAgPHBhdGggc3Ryb2tlPSIjNTk1OTU5IiBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Ik0xMSAxMUw3LjUgNy41Ii8+Cjwvc3ZnPgo=');
      background-position: center;
      background-size: 25px;
      content: ' ';
      display: block;
      height: 100%;
      position: absolute;
      top: 30px;
      transform: translateY(-50%);
      transition-property: all;
      width: 55px;
    }

    input[type='search'] {
      box-sizing: border-box;
      font-size: 20px;
      height: 60px;
      padding-left: calc(var(--mm-spacing) + 15px);
      padding-right: calc(var(--mm-spacing) / 2);

      [dir='rtl'] & {
        padding-left: 20px;
        padding-right: 40px;
      }
    }

    input[type='submit'] {
      display: none;
    }
  }
}

// My requests search
.search__requests {
  .search {
    padding-left: var(--mm-spacing);
  }
}

@media only screen and (min-width: 768px) {
  .hero-inner .search {
    width: 610px;
  }
}
