/* stylelint-disable scss/at-extend-no-missing-placeholder */

@use './mixins';

@media only screen and (max-width: 520px) {
  .article__list {
    @include mixins.pattern-border;
    background-color: var(--mm-color-sidebar);
    padding: var(--mm-spacing);
    position: relative;

    li {
      display: grid;
      grid-template-areas:
        'title'
        'excerpt';
      margin-bottom: 20px;

      a {
        color: var(--mm-color-display-text);
        font-family: var(--mm-font-stack-display);
        font-size: 20px;
        font-weight: 500;
        grid-area: title;
      }

      .article__list-excerpt {
        font-family: var(--mm-font-stack-default);
        font-size: 16px;
        grid-area: excerpt;
        margin-top: 5px;
        word-break: break-word;
      }
    }
  }
}

@media only screen and (min-width: 320px) {
  .section__page {
    display: grid;
    grid-template-areas:
      'header header'
      'articles articles';
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content;
    height: 100%;
    padding: var(--mm-spacing);
  }

  .section__title {
    font-size: 28px;
  }
}

@media only screen and (min-width: 520px) {
  .article__list {
    @include mixins.pattern-border;
    background-color: var(--mm-color-sidebar);
    padding: calc(var(--mm-spacing) * 1.5);
    position: relative;

    li {
      display: grid;
      grid-template-areas:
        'title'
        'excerpt';
      grid-template-columns: 1fr;
      margin-bottom: calc(var(--mm-spacing) / 2);

      a {
        color: var(--mm-color-display-text);
        font-family: var(--mm-font-stack-display);
        font-size: 20px;
        font-weight: 500;
        grid-area: title;
      }

      .article__list-excerpt {
        font-family: var(--mm-font-stack-default);
        font-size: 16px;
        grid-area: excerpt;
        margin-top: 5px;
        word-break: break-word;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .section__page {
    padding: var(--mm-spacing);
  }

  .section__title {
    font-size: 42px;
  }

  .section__articles {
    justify-self: center;
  }
}

@media only screen and (min-width: 1200px) {
  .section__page {
    padding: var(--mm-spacing) 0;
  }

  .section__header {
    padding: 0 var(--mm-spacing) 0;
  }

  .section__articles {
    grid-area: articles;
    max-width: var(--mm-max-width);
    padding: 0 var(--mm-spacing);
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  .section__page {
    display: grid;
    grid-template-areas:
      'header .'
      'articles .';
    grid-template-columns: calc(100vw - 640px) var(--mm-layout-toc-width);
    max-width: var(--mm-max-width);
    width: 100%;
  }
}

.section__header {
  grid-area: header;
  margin: auto;
  max-width: var(--mm-max-width);
  width: 100%;
  z-index: 5;

  .section__title {
    color: #00374c;
    font-family: var(--mm-font-stack-display);
    font-weight: 600;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .section__description {
    color: var(--mm-color-primary-text);
    font-size: 16px;
    line-height: 26px;
    margin: calc(var(--mm-spacing) / 2) 0;
    padding-bottom: calc(var(--mm-spacing) / 2);
  }
}

.section__articles {
  grid-area: articles;
  max-width: var(--mm-max-width);
  padding-top: 0;
  width: 100%;
}
