/* stylelint-disable scss/at-extend-no-missing-placeholder */

/***** Split button *****/
.split-button {
  display: flex;
}

.split-button button {
  @extend .button;
  background-color: $brand-color;
  border: 0;
  color: $brand-text-color;
  height: 32px;
  line-height: 16px;
  outline-color: $brand-color;
}

.split-button button:hover {
  @extend .button-primary, :hover;
}

.split-button button:not(:only-child) {
  &:last-child {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 26px;
    min-width: 26px;
    padding: 0;
    width: 26px;
  }

  [dir='rtl'] &:first-child {
    border-bottom-left-radius: unset;
    border-left: 1px solid $brand-text-color;
    border-top-left-radius: unset;
  }

  [dir='ltr'] &:first-child {
    border-bottom-right-radius: unset;
    border-right: 1px solid $brand-text-color;
    border-top-right-radius: unset;
  }

  [dir='rtl'] &:last-child {
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
  }

  [dir='ltr'] &:last-child {
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
  }
}
