/***** Tables *****/
.table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;

  width: 100%;
  @include tablet { table-layout: auto; }

  tr {
    border-bottom: 1px solid $border-color;
    display: block;
    padding: 20px 0;
    @include tablet { display: table-row; }
  }

  td {
    display: block;
    @include tablet {
      display: table-cell;
    }
  }

  td,
  th {
    @include desktop {
      padding: 20px 30px;
    }
    @include tablet {
      height: 60px;
      padding: 10px 20px;
    }
  }

  th,
  th a {
    color: $secondary-text-color;
    font-size: $font-size-small;
    text-align: left;

    [dir='rtl'] & { text-align: right; }
  }
}
