/***** Tables *****/
.table,
.article__body > table {
  background-color: var(--mm-color-sidebar);
  border: 1px solid #eee;
  border-bottom: 1px solid var(--mm-color-border);
  border-collapse: collapse;
  border-radius: var(--mm-border-radius);
  border-spacing: 0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  color: #ccc;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: scroll;
  position: relative;
  width: 100%;
  z-index: 2;

  thead {
    background-color: var(--mm-color-background);
    border-bottom: 1px solid var(--mm-color-border);
  }

  tr {
    a,
    a:visited {
      color: var(--mm-color-display-text);
    }
  }

  tr:nth-child(even) {
    background-color: var(--mm-color-background);
  }

  th {
    border-bottom: 1px solid var(--mm-color-border);
    color: var(--mm-color-display-text);
    font-family: var(--mm-font-stack-display);
    font-size: 14px;
    font-weight: 700;
    padding: 16px;
    position: sticky;
    text-align: left;
    white-space: nowrap;
  }

  td {
    border-top: 1px solid #eee;
    color: var(--mm-color-primary-text);
    font-size: 12px !important;
    line-height: 18px !important;
    padding: 16px;
  }
}

.table {
  tbody {
    tr:hover {
      cursor: pointer;
    }
  }
}
