/***** Header *****/
$page-header-height: 80px;

.header {
  background: $background_color;
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, .1), 0 1px 5px 0 rgba(0, 0, 0, .06);
  height: $page-header-height;
  padding-top: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-area {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "logo search menu";
  -ms-grid-columns: max-content 1fr max-content;
  grid-template-columns: max-content 1fr max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  height: 70px;
  padding: 0 $spacing;
}

.header-area>* {
  -ms-grid-row-align: center;
  align-self: center;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  color: $text_color;
  display: -ms-grid;
  display: grid;
  grid-gap: 8px;
  gap: 8px;
  grid-area: logo;
  grid-template-areas: "svg site-name";
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  padding: 10px;
  transform: translateX(-10);

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.logo svg {
  -ms-grid-row: 1;
  -ms-grid-colum: 1;
  -ms-grid-row-align: center;
  align-self: center;
  grid-area: svg;
  max-width: 125px;
  width: 100%;
}

.logo span {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: $heading_font;
  font-size: 10px;
  font-style: italic;
  font-weight: 600;
  grid-area: site-name;
  letter-spacing: 1px;
  line-height: 1;
  overflow: hidden;
  padding-left: 9px;
  position: relative;
  text-transform: uppercase;
}

.logo span:before {
  background: #ccc;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: rotate(20deg) translateY(-50%);
  width: 1px;
}

.header-spacer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: search;
}

.nav-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: menu;
  position: relative;
}

.nav-wrapper .nav-item {
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 6px;
  color: $background_color;
  display: flex;
  font-family: $heading_font;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 5px;
  padding: 0 10px 11px;
  position: relative;
  transition: color 0.2s ease-in-out 0.25s;
  text-decoration: none;
  white-space: nowrap;

  &:active,
  &:hover,
  &:focus {
    background: #f5f6f7;
    color: $text_color;
    text-decoration: none;
  }
}

.nav-wrapper .nav-item,
.nav-wrapper .nav-icon,
.nav-wrapper .nav-label  {
  display: inline-block;
}

.nav-wrapper .nav-label {
  padding: 10px 0 0 5px;
  white-space: nowrap;
}

.nav-wrapper .nav-icon {
  height: 20px;
  position: relative;
  top: 5px;
  width: 20px;
}

.nav-wrapper .nav-icon path {
  fill: $text_color;
}

/*
I may need this button depending on how I render the site navigation.
.menu-button {
  background: $background_color;
  border: 1px solid $border_color;
  border-radius: 6px;
  color: $text_color;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  min-width: 30px;
  width: 30px;
  z-index: 4;
}*/

@media only screen and (min-width: 576px) {
  .logo {
    grid-gap: 15px;
    gap: 15px;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .logo span {
    padding-left: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .header-area {
    -ms-grid-columns: 310px 1fr max-content;
    grid-template-columns: 310px 1fr max-content;
  }

  .logo svg {
    max-width: 162px;
  }

  .logo span {
    font-family: $heading_font;
    font-size: 12px;
  }
}

  /*@media only screen and (min-width: 420px) {
    .menu-button {
      height: 50px;
      min-width: 50px;
      width: 50px;
    }
  }*/

.skip-navigation {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: center;
  left: -999px;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  position: absolute;
  top: auto;
  z-index: -999;


  [dir="rtl"] & {
    left: initial;
    right: -999px;
  }

  &:focus,
  &:active {
    left: auto;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    top: auto;
    z-index: 999;


  [dir="rtl"] & {
    left: initial;
    right: auto;
  }
  }
}
